[submodule "external/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "bundle/vim-cpp"]
	path = bundle/vim-cpp
	url = https://github.com/vim-jp/vim-cpp
